/* light blue #2b98f0 */
* {
  padding: 0;

  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  background: #ffffff;
}

#header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-rd {
  color: red;
  font-weight: 700;
  border-radius: 50%;
  border: 3px solid #2b98f0;
  padding: 3px;
}
nav {
  flex: 0 0 auto;
}

#banner {
  flex: 1 0 auto;
}
nav ul {
  list-style-type: none;
}

nav ul li a {
  display: block;
  color: #2b98f0;
  background: transparent;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  transition: color 1s ease, background 1s ease, padding 1s ease;
}

nav ul li a:hover {
  color: #f5f5f5;
  padding-left: 60px;
  background: #2b98f0;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
}
#nav-top h3 {
  font-size: 30px;
  padding: 5px;
  color: #2b98f0;
  border: 3px solid;
  transition: color 2s ease background 2s ease;
}

#nav-top h3:hover {
  background: #2b98f0;
  color: #f5f5f5;
}

#menu-btn {
  padding: 5px;
  border: 2px solid #2b98f0;
  cursor: pointer;
  align-self: center;
}
.bar1,
.bar2,
.bar3 {
  height: 5px;
  width: 35px;
  background: #2b98f0;
  margin: 5px 0;
  transition: transform 1s ease;
}
/* turn bars using jquery */
.turn .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}
.turn .bar2 {
  opacity: 0;
}

.turn .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

@media screen and (min-width: 690px) {
  nav {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  #menu-btn {
    display: none;
  }
  nav ul {
    flex: 1 1 auto;
    display: flex !important;
    /* important */
    flex-wrap: wrap;
  }
  nav ul li {
    flex: 1 0 125px;
  }
  nav ul .icon {
    flex: 0 0 20px;
  }
  nav ul li .link-icon {
    color: #f5f5f5;
    background: #395e7e;
  }

  nav ul li .link-icon:hover {
    background: #008dff;
  }

  nav ul a {
    text-align: center;
  }
  nav ul a:hover {
    padding: 10px !important;
  }
  nav-top {
    padding: 40px;
  }
}

/*#################BANNER#######################  */
/* Creating Hero Image */
#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)),
    url(../images/productivity-1995786_1920.jpg);

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner-box {
  color: #f5f5f5;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
}

.banner-underline {
  width: 200px;
  margin: 10px auto;
  border: 3px solid #2b98f0;
}

.banner-subtitle {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 300;
}

#banner-box a {
  display: inline-block;
  padding: 10px;
  font-size: 40px;
  text-decoration: none;
  color: #f5f5f5;
  background: #2b98f0;
  border: 3px solid #2b98f0;
  transition: background 3s ease, border 0.5s ease;
  border-radius: 10%;
}

.fa {
  margin-right: 10px;
}

#banner-box a:hover {
  background: transparent;
  border: 3px solid #f5f5f5;
}

/* ################ TITLE ################# */

.title {
  margin: 10px 0 40px 0;
  cursor: pointer;
}

.title-text {
  font-size: 45px;
  text-transform: capitalize;
  color: #575757;
}

.title-underline {
  width: 50px;
  border: 3px solid #2b98f0;
  transition: width 4s ease, border 4s ease;
}

.title:hover .title-underline {
  width: 200px;
  border: 3px solid red;
}

/* ################## SKILLS ####################### */
#skills {
  padding: 40px;
  background: #ffffff;
  margin-bottom: 50px;
}

.skills-description {
  font-size: 30px;
  text-align: center;
  color: #575757;
}
.skills-description p {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  color: #575757;
  font-size: 25px;
}

.skill {
  text-align: center;
  margin: 20px 0;
}

.skill .fas {
  color: #2b98f0;
  padding: 20px;
  border-radius: 50%;
  font-size: 60px;
  transition: transform 0.5s ease-in, background 0.5s ease, color 0.5s ease;
}

.skill .fas:hover {
  transform: scale(0.7);
  background: #2b98f0;
  color: #f5f5f5;
}

.skill h3 {
  margin: 10px 0 15px 0;
  text-transform: capitalize;
  font-size: 30px;
  color: #2b98f0;
}

.skill p {
  line-height: 1.5em;
  width: 75%;
  margin: 0 auto;
}
/* ################## END SKILLS ####################### */

/* Media for skills section  */

@media screen and (min-width: 576px) {
  .skills-center {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skill {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 992px) {
  .skills-center {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skill {
    flex: 0 1 calc(25% - 1em);
  }
}

/* ################## About ####################### */
#about {
  padding: 40px;
  background: url(../images/background-1.jpg);
  /* background: #2fb414; */
}

#about-text,
#about-image {
  padding: 40px;
  color: #f5f5f5;
}

#about-image img {
  width: 80%;
  height: auto;
}

#about-text h2 {
  color: #ffffff;
  font-size: 35px;
}

#about-text p {
  margin: 20px 0;
  font-size: 20px;
}

#about-text li {
  line-height: 3em;
  font-size: 18px;
  list-style: none;
}

#about-text .far {
  font-size: 20px;
  color: #ffffff;
}

#about-text a {
  display: inline-block;
  margin: 40px auto;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  text-transform: capitalize;
  color: #f5f5d5;
  border: 2px solid #2b98f0;
  background: #2b98f0;
  transition: background 0.5s ease, border 0.5s ease;
}

#about-text a:hover {
  background: transparent;
  border: 2px solid #f5f5d5;
}
/* Media query for about section */
@media screen and (min-width: 776px) {
  #about {
    display: flex;
  }
  #about-text {
    min-height: 40vh;
    flex: 0 0 60%;
  }
  #about-video {
    min-height: 40vh;
    flex: 0 0 40%;
  }
}

/* ############# End About ############## */

/* ############# Services ############## */
#services {
  padding: 40px;
  background-color: #ffffff;
}
.service {
  margin: 30px 0;
  display: flex;
}

.service-icon .fas,
.far,
.fab {
  font-size: 40px;
  color: #2b98f0;
  margin-right: 20px;
}

.service-subtitle {
  text-transform: capitalize;
  color: #2b98f0;
  font-size: 20px;
}
.service-icon .fas:hover,
.far:hover,
.fab:hover,
.service:hover .service-subtitle {
  color: rgba(0, 0, 0, 0.8);
}

.service:hover .service-info {
  color: rgb(124, 41, 41);
}

/* ############ End Services ########### */

/* Media Query For Service Section */
@media screen and (min-width: 576px) {
  .services-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .service {
    flex: 0 0 calc(50% - 1em);
  }
}

@media screen and (min-width: 972px) {
  /* 3 column on large screen */
  .service {
    flex: 0 0 calc(33.3% - 1em);
  }
}

/* ################# Portfolio ###################*/

#portfolio {
  padding: 40px;
  background: #ffffff;
}

.work {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  max-height: 300px;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
  /* image: overlay; */
}

#portfolio img {
  display: block;
  width: 100%;
  min-height: 300px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 2s ease;
}

#portfolio img:hover {
  opacity: 0.4;
}

.image-overlay {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100px;
  margin-bottom: -100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgba(20, 20, 20, 0.5);
  transition: margin 2s ease;
}

.work:hover .image-overlay {
  margin-bottom: 0;
  opacity: 0.8;
}
.image-text h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
  color: #f5f5d5;
}
/* arrows-right */
.image-overlay .fas {
  font-size: 50px;
  color: #2b98f0;
  padding: 10px;
  background: #f5f5d5;
  border-radius: 50%;
  transition: transform 2s ease, background 2s ease;
}

.image-overlay .fas:hover {
  transform: translateY(-10px);
  background: #082238;
}
/* button */
.section-btn {
  text-align: center;
  margin: 20px 0 10px 0;
}

.section-btn a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  font-size: 30px;
  color: #f5f5d5;
  background: #2b98f0;
  transition: background 2s ease, color 2s ease;
}

.image-text {
  color: #f5f5d5;
  font-size: 30px;
}

.section-btn .far {
  font-size: 40px;
  margin-right: 10px;
}

/* ################# End Of Portfolio ###############*/

/* media query for portfolio section  */

@media screen and (min-width: 576px) {
  .portfolio-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .work {
    flex: 0 0 calc(50% - 1em);
  }
}

@media screen and (min-width: 972px) {
  /* 3 column on large screen */
  .work {
    flex: 0 0 calc(33.3% - 1em);
  }
}

/* ########### Numbers ################# */
#numbers {
  padding: 40px;
}

.num-description {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  color: rgb(87, 87, 87);
  font-size: 25px;
}

.line {
  color: rgb(0, 141, 255, 0.5);
  border: 1px solid;
  width: 75%px;
  margin: 0 0 50px auto;
}
.number {
  margin: 20px 0;
  text-align: center;
  transition: transform 2s;
  color: #395e7e;
  margin: 50px 0;
}
.number:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.number .fas {
  font-size: 45px;
  color: #2b98f0;
}
.number h2 {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 900;
}

.number h5 {
  font-size: 23px;
  color: #c9c9c9;
}

/* media query for numbers section */

@media screen and (min-width: 576px) {
  .numbers-center {
    min-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .number {
    flex: 0 0 calc(50% - 10px);
  }
}
@media screen and (min-width: 576px) {
  .number {
    flex: 0 0 calc(25% - 10px);
  }
}

/*end of media query for numbers section */

/* ########### End of Numbers ################# */

/* ########### Team Members ################# */
#team {
  padding: 40px;
  background: url(../images/background-2.jpg);
  /* background: #959595; */
  margin-bottom: 10%;
}
.team-member {
  background: #f5f5d5;
  margin: 20px 0;
}

#team .title-text {
  color: #ffffff;
}

.team-member img {
  display: block;
  width: 100%;
  max-height: 300px;
}
.image-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-info h3 {
  color: #2b98f0;
}
.footer-info h5 {
  color: #959595;
  margin: 10px 0;
  text-transform: capitalize;
}
.social-icons .fab {
  color: #959595;
  margin: 0 5px;
  font-size: 30px;
}

/* arrow right */
.footer-icon {
  font-size: 40px;
  color: #2b98f0;
  opacity: 0;
  align-items: center;
  transition: transform 2s ease, opacity 2s ease;
}
.footer-icon:hover {
  transform: rotate(-90deg);
}
.team-member:hover .footer-icon {
  opacity: 1;
}
/* ########### End of Team Members ################# */

/* media query for team section */
@media screen and (min-width: 576px) {
  #team-center {
    min-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .team-member {
    flex: 0 0 calc(50% - 10px);
  }
}

@media screen and (min-width: 776px) {
  .team-member {
    flex: 0 0 calc(25% - 10px);
  }
}
/* end ofmedia query for team section */

/* ############## Customers ##############*/
#customers {
  padding: 40px;
  background: #191919;
  margin-bottom: 10%;
}
.customer {
  color: #f5f5f5;
  text-align: center;
  margin: 20px 0;
}

#customers .title-text {
  color: #fff;
}

.customer img {
  border-radius: 50%;
  max-width: 200px;
}
.customer h3 {
  margin: 10px 0;
  text-transform: capitalize;
  color: #2b98f0;
}

.customer h5 {
  text-transform: capitalize;
  color: #959595;
}
.customer p {
  line-height: 1.5;
  width: 75%;
  margin: 10px auto;
}
/* ############## End of Customers ##############*/

/* media query for Customer */
@media screen and (min-width: 576px) {
  .customers-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .customer {
    flex: 0 0 calc(33.3% - 1em);
  }
}

/*end of  media query for Customer */

/* ################### Contact ################## */
#contact {
  padding: 40px;
  background: #2b98f0;
  color: #ffffff;
}

#contact .title-text {
  color: #fff;
}
#contact .title-underline {
  border-color: #f5f5d5;
}
.item-info {
  display: flex;
  margin: 20px 0;
  font-size: 20px;
}
.item-info .fa {
  margin-right: 20px;
}
form input {
  display: block;
  width: 75%;
  margin: 10px 0;
  font-size: 20px;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #f5f5d5;
}

form input::placeholder {
  color: #f5f5d5;
}

#customer-info a {
  display: block;
  padding: 20px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  color: #191919;
  transition: background 2s ease;
  margin-left: 10px;
}

#customer-info a:hover {
  background: #c9c9c9;
}
/* ################### End of Contact ################## */

/*media query for Contact */

@media screen and (min-width: 776px) {
  .contact-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #company-info {
    flex: 0 0 calc(50% - 10px);
  }
  #customer-info {
    flex: 0 0 calc(50% - 10px);
  }
}
